.navlogin-button-container {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.navlogin-button {
  border: none;
  background: none;
  text-decoration: underline;
  font-size: 18px;
  color: white;
}

.navlogin-button:hover {
  cursor: pointer;
}
